<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <link rel="stylesheet" href="../static/css/jadwalpenjaga.css">
</head>
<body>
    <!-- Sidebar -->
    {% include 'sidebar.html' %}

    <!-- Main Content -->
    <div class="main-content">
        
        <!-- Header -->
        {% include 'header.html' %}

        <div class="content-grid-jadwal">
            <div class="content-card">
                <div class="content-header">
                    <h2>Jadwal Petugas</h2>
                </div>
                <div class="schedule-list"></div>
            </div>

            <div class="content-card">
                <div class="content-header">
                    <h2>Jadwal Hari Ini</h2>
                </div>
                <div class="schedule-list">
                    <div class="schedule-item">
                        <div class="time-slot">07:00 - 10:00</div>
                        <div class="schedule-detail">
                            <h3>Muhammad Arsal Nawfal Ali</h3>
                        </div>
                        <div class="status active">Bertugas</div>
                    </div>
                    <div class="schedule-item">
                        <div class="time-slot">10:00 - 13:00</div>
                        <div class="schedule-detail">
                            <h3>Gibran Daffa Atallah</h3>
                        </div>
                        <div class="status upcoming">Upcoming</div>
                    </div>
                    <div class="schedule-item">
                        <div class="time-slot">13:00 - 16:00</div>
                        <div class="schedule-detail">
                            <h3>Rangga Febriansah</h3>
                        </div>
                        <div class="status upcoming">Upcoming</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const scheduleList = document.querySelector('.schedule-list');
        const petugasPmr = {{ petugas_pmr | tojson }};

        petugasPmr.forEach(petugas => {
            const scheduleItem = document.createElement('div');
            scheduleItem.classList.add('schedule-item');
            
            const timeSlot = document.createElement('div');
            timeSlot.classList.add('time-slot');
            timeSlot.textContent = petugas[2] + " - " + petugas[3];

            const scheduleDetail = document.createElement('div');
            scheduleDetail.classList.add('schedule-detail');

            const name = document.createElement('h3');
            name.textContent = petugas[4];

            const day = document.createElement('p');
            day.textContent = petugas[1];

            scheduleItem.appendChild(timeSlot);
            scheduleItem.appendChild(scheduleDetail);
            
            scheduleDetail.appendChild(name);
            scheduleDetail.appendChild(day);
            
            // Finally, append the schedule-item to the schedule-list
            scheduleList.appendChild(scheduleItem);
        });

    </script>
</body>
</html>
