<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <link rel="stylesheet" href="../static/css/Medicine.css">
</head>
<body>

    <!-- Sidebar -->
    {% include 'sidebar.html' %}

    <!-- Main Content -->
    <div class="main-content">

        <!-- Header -->
        {% include 'header.html' %}

        <!-- Medicine Stock Management -->
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Manajemen Stok Obat UKS</h2>
                <div class="btn-group">
                    <button class="btn btn-primary" onclick="openModal()">Tambah Stok</button>
                </div>
            </div>
            <div class="card-content">
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Nama Obat</th>
                                <th>Stok</th>
                                <th>Keterangan</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(jumlah_obat) %}
                                <tr>
                                    <td>{{obat_uks[i]}}</td>
                                    <td>{{stok_obat2[i]}}</td>
                                    <td>{{deskripsi_obat2[i]}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Stock Prediction -->
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Prediksi Stok Bulan Depan</h2>
            </div>
            <div class="card-content">
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Nama Obat</th>
                                <th>Stok Akhir Bulan</th>
                                <th>Penggunaan Rata-Rata</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(jumlah_obat) %}
                                <tr>
                                    <td>{{obat_uks[i]}}</td>
                                    <td>{{prediksi_stok_akhir[i]}}</td>
                                    <td>{{rata2_obat_yg_dipakai[i]}} per Bulan</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

     <!-- Take Stock Modal -->
    <div class="modal" id="takeStockModal">
        <div class="modal-content">
            <span class="close-modal" onclick="closeModal()">&times;</span>
            <h2>Tambah Stok Obat</h2>
            <form id="takeStockForm">
                <div class="form-group">
                    <label for="namaObat">Nama Obat:</label>
                    <select name="namaObat" id="namaObat" class="form-control" required>
                        <option selected disabled>Pilih Hari</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="jumlahObat">Jumlah:</label>
                    <input name="jumlahObat" id="jumlahObat" min="0" type="number" min="0" class="form-control" required>
                </div>
                <button id="submit-btn" type="submit" class="btn btn-primary">Simpan</button>
            </form>
        </div>
    </div>

    <script>
        const nama_obat = JSON.parse('{{ obat_uks | tojson | safe }}');
        const seleksiObat = document.getElementById("namaObat");
        nama_obat.forEach(obat => {
            const option = document.createElement("option");
            option.value = obat;
            option.textContent = obat;
            seleksiObat.appendChild(option);
        });
    </script>

    <script>
         const sidebar = document.querySelector('.sidebar');
        const mainContent = document.querySelector('.main-content');
        const toggleBtn = document.querySelector('.toggle-btn');

        toggleBtn.addEventListener('click', () => {
            sidebar.classList.toggle('collapsed');
            mainContent.classList.toggle('expanded');
        });

        const modal = document.getElementById('takeStockModal');
        const medicineNameInput = document.getElementById('medicineName');

        function openModal(medicineName) {
            modal.style.display = 'block';
            medicineNameInput.value = medicineName;
        }

        function closeModal() {
            modal.style.display = 'none';
        }

        document.getElementById('submit-btn').addEventListener('click', async (event) => {
            const form = document.getElementById("takeStockForm");
            const formData = new FormData(form);

            const jsonObject = {};
            formData.forEach((value, key) => {
                jsonObject[key] = value;
            });

            const response = await fetch("/tambah-obat", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(jsonObject),
            });

            if (response.ok) {
                alert("Data berhasil diinput.");
                closeModal()
            } else {
                alert("Terjadi masalah menginput data.");
            }
        });
    </script>
</body>
</html>